nav{
    border-radius: 0;
}

nav a {
  padding: 2px 5px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
}


.col-sm-8 {
    background-color: rgba(193,205,205,0.9);
    margin-top: 0.01em;
    margin-left: 5em;
    border-color: black;
}

.col-sm-2 {
    margin-left: 15px;
    background-color: #194775;
    color: white;
    font-size: 12pt;
    height: 200px;
    padding: 2em;
}


.vertical-buffer-3 {
    margin-top: 2em;
}

.navbar-brand {
    margin-right: 3em;
    font-size: 20pt;
    color: #199ac1;
}

.navbar-nav {
    margin-left: 6em;
    width: 100%;
    font-size: 15pt;

}

.btn {
    border-radius: 0;
    font-weight: bold;
    font-size: 12pt;
}


#settingsIcon{
    width: 25px;
    height: 25px;
    float: right;
    margin: 12px;
}

.btn-group{
    margin:5px;
    float: right;
}
