<!doctype html>

<div >
    <h1>{{city}} </h1>
    <table class="table table-striped">
    <tbody>
      <tr>
        <th scope="row"></th>
        <td>Humidity: </td>
        <td>{{humidity}} %</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Visibility:</td>
        <td>{{visibilty}} Meters</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td> Wind Speed:</td>
        <td>{{windSpeed}} m/s</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td> Wind Direction: </td>
        <td> {{windDirection}}</td>
      </tr>
    </tbody>
  </table>
</div>
